# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [13]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [32]:
# Your code here:


hey= pokemon.groupby("Legendary")['Total'].mean()
hey

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [47]:
hey2= pokemon.groupby("Legendary")['Total'].std()
hey2

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [40]:
import pandas as pd
import scipy.stats as st

# Assuming 'Legendary' is the column indicating whether a Pokémon is legendary or not
legendary_pokemon = pokemon[pokemon['Legendary'] == True]['Total']
non_legendary_pokemon = pokemon[pokemon['Legendary'] == False]['Total']

# Perform independent t-test assuming unequal variances
t_stat, p_value = st.ttest_ind(legendary_pokemon, non_legendary_pokemon, equal_var=False)

print("t-statistic:", t_stat)
print("p-value:", p_value)

t-statistic: 25.8335743895517
p-value: 9.357954335957446e-47

In [ ]:
#t-statistics : there is a big difference between the legendary and no legendaryb pokemon

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [57]:
# Your code here:

pokemon['Type 1'].count()

800

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [60]:
# Your code here:
hey= pokemon.groupby("Type 1")['Total'].count()
hey

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Total, dtype: int64

In [61]:
# Your code here:
hey= pokemon.groupby("Type 1")['Total'].mean()
hey

Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64

In [62]:
# Your code here:
hey= pokemon.groupby("Type 1")['Total'].std()
hey

Type 1
Bug         117.875223
Dark        109.126217
Dragon      146.267538
Electric    105.721952
Fairy       123.781680
Fighting    102.464378
Fire        109.760496
Flying      161.400124
Ghost       110.072685
Grass       106.650626
Ground      123.913081
Ice         108.281027
Normal      115.733038
Poison       92.358687
Psychic     139.026645
Rock        108.059227
Steel       115.420907
Water       113.188266
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [67]:
# Your code here:

import scipy.stats as stats


water_pokemon = pokemon[pokemon['Type 1'] == 'Water']
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']

#two-sample t-test
t_statistic, p_value = stats.ttest_ind(water_pokemon['Total'], other_pokemon['Total'], equal_var=True)

print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

T-Statistic: -0.4418547448849676
P-Value: 0.6587140317488793

Write your conclusion below.

In [ ]:
# Your conclusions here:
#the mean total points for Water Pokemon is slightly lower than the mean for non-Water Pokemon.
# there is insufficient evidence to reject the null hypothesis.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [81]:
# Your code here:
from scipy.stats import ttest_rel

# h0:  defense and attack scores are equal
# h1:  defense and attack scores are not equal
    
t_statistic, p_value = ttest_rel(pokemon['Defense'], pokemon['Attack'])

print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

T-Statistic: -4.325566393330478
P-Value: 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#we reject hypothesis 0 since the defense is slightly lower than attack

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [86]:
# Your code here:

t_statistic, p_value = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

T-Statistic: 0.853986188453353
P-Value: 0.3933685997548122

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#it is better but still we would reject the hypothesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [87]:

from scipy.stats import ttest_1samp

#h0 the difference between both is zero
#h1 the difference between both is not zero



# one-sample t-test
t_statistic_one_sample, p_value_one_sample = ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)


print(f"T-Statistic (One Sample): {t_statistic_one_sample}")
print(f"P-Value (One Sample): {p_value_one_sample}")

T-Statistic (One Sample): -4.325566393330478
P-Value (One Sample): 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: